* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: 'Chelsea Market', cursive;
  background-color: #8BF7F4;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
	display: flex;
	justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

footer {
  display: flex;
  justify-content: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.blinking {
  animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #9932CC; }
    50%{    color: #FF1493; }
    99%{    color: #FFFF00; }
    100%{   color: #000;    }
}
